@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
body {
    background-image: url(assets/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    font-family: 'Open Sans', sans-serif;
}

label {
    margin: 1em;
    font-size: larger;
    font-family: 'Merriweather', sans-serif;
}

input {
    border: 2px solid black;
    margin-left: 5px;
    padding: 0.2em;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

.temperature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5em;
    font-family: 'Open Sans', sans-serif;
}

.reset {
    margin-right: 2em;
}